#-------------------------------------------------------------------------------
#   以下设置请根据部署环境信息进行修改
#-------------------------------------------------------------------------------
# 部署costrict后端服务的机器地址
# COSTRICT_HOST="192.168.1.1"
# COSTRICT_BASEURL是VSCODE扩展连接诸葛神码后端时使用的入口URL地址
# 一般会利用DNS及应用发布设备将该地址映射到 http://${COSTRICT_HOST}:${PORT_APISIX_ENTRY}
# COSTRICT_BASEURL="http://zgsm.sangfor.com:30080"
# 支持两种后端: compose, k8s，默认值为compose
# COSTRICT_BACKEND_TYPE="compose"

# 激活下述配置项可覆盖costrict-admin.json中的oneapi.enabled和upgrade.verify_tls的值
# ONEAPI_ENABLED=true
# UPGRADE_VERIFY_TLS=true

# 激活下述选项可覆盖apisix/port.env中的PORT_APISIX的值
# PORT_APISIX="33300"
