# 忽略所有文件
*
# 但包含以下特定文件和目录
!build-costrict.sh
!build-components.sh
!build-depends.sh
!check-update.sh
!check-build.sh
!build-mirror.sh
!gen-component.sh
!gen-depend.sh
!gen-backend-spec.sh
!gen-manifest.sh
!docker-pull-via.sh
!github-fetch-release.sh
!start-local-site.sh
!packages.json
!latest.json
!costrict-manifest.json
!costrict-backend-spec.json
!README.md
!developer.md
!configures/
!configures/**
!components/
!components/**
!depends/
!depends/**
!site/
!site/**
!.github/
!.github/**
!builds/
!builds/**
!costrict-static
