# 忽略所有文件
*
packages
# 但包含以下特定文件和目录
!build-costrict.sh
!build-components.sh
!build-depends.sh
!check-update.sh
!update-manifest.sh
!start-local-site.sh
!packages.json
!costrict-manifest.json
!README.md
!developer.md
!configures/
!configures/**
!components/
!components/**
!depends/
!depends/**
!site/
!site/**
